
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}


:root{
    --yellow-color: #fff47c;
    --blue-color: #63dfff;
    --pink-color: #ff7daa;
    --white-color: #fffdfa;
    --black-color: #000000;
}


@font-face {
    font-family:'HelveticaFont' ;
    src: url(../fonts/Helvetica.ttf);
}

@font-face {
    font-family: 'HelveticaBold';
    src: url(../fonts/Helvetica-Bold.ttf);
}

body{
  background: #333;
}

header{
  width: 100%;
  height: 80px;
  background: var(--yellow-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo{
  font-family: 'HelveticaFont';
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.hamburger{
  display: none;
}

.nav-bar.active{
  height: 450px;
  z-index: 1001;
}

.nav-bar ul{
  display: flex;
}

.nav-bar.active ul{
  opacity: 1;
}

.nav-bar ul li a{
  font-family: HelveticaFont;
  display: block;
  color: #333;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.4s;
  margin: 0 5px;
}

.nav-bar ul li a:hover{
  color: #333;
  background: #fedc56;
}

.nav-bar ul li a.active{
  color: #333;
  background: #fedc56;
}

@media only screen and (max-width:1320px){
  header{
    padding: 0 50px;
  }
}

@media only screen and (max-width:1100px){
  header{
    padding: 0 30px;
  }
}

@media only screen and (max-width:900px){
  .hamburger{
    display: block;
    cursor: pointer;
  }
  .hamburger .line{
    width: 35px;
    height: 5px;
    border-radius: 25px;
    background: #333;
    margin: 6px 0;
  }
  .nav-bar{
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: var(--yellow-color);
    transition: 0.4s;
    overflow: hidden;
  }
  .nav-bar ul{
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.7s;
    opacity: 0;
  }
  .nav-bar ul li a{
    margin-bottom: 12px;
  }
}

body footer{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

footer{
  position: relative;
  width: 100%;
  background: var(--blue-color);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}


footer .social_icon li{
  list-style: none;
}

footer .menu li{
  list-style: none;
  font-family: HelveticaFont;
}

footer  .social_icon li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;

}

footer .menu li a{
  font-size: 1.259em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover{
  transition: 0.3s;
  opacity: 1;
  transform:translateY(-5px);
}

footer .social_icon li a:hover {
  transform: translateY(-10px)
}

footer p{
  color: #fff;
  text-align: center;
  font-family: HelveticaFont;
  margin-top: 15px;
  margin-bottom: 10px;
  opacity: 0.75;
  font-size: 0.8em;
}

.main{
  text-decoration: none;
  color: #000000;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 11.9%;
    margin-bottom: 11.9%;
    width: 350px;
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24vh;
    margin-bottom: 24vh;
    border-radius: 30px;
    background-color: #fedc56;
}

p{
    font-family: HelveticaFont;
}

.login-btn{
    border-radius: 30px;
    display: flex;
    text-decoration: none;
    font-family: HelveticaFont;
    color: #000000;
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
    background-color: var(--yellow-color);
   justify-content: center;
}

.logout-card{
  display: none;
  text-align: center;
}

.acc-header{
  margin: 0 0 20px 0;
}

input{
  margin: 10px 0;
  border-radius: 8px;
  border-style: none;
  height: 2.3vh;

}

.logout-btn{
  padding: 0.5em;
  color: #000000;
  text-decoration: none;
}