* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --yellow-color: #fff47c;
  --blue-color: #63dfff;
  --pink-color: #ff7daa;
  --white-color: #fffdfa;
  --black-color: #000000;
}

@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica.ttf);
}
body {
  background: #333;
  font-family: Helvetica;
  flex-direction: row;
}

header {
  width: 100%;
  height: 80px;
  background: var(--yellow-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.hamburger {
  display: none;
}

.nav-bar.active {
  height: 450px;
  z-index: 1001;
}

.nav-bar ul {
  display: flex;
}

.nav-bar.active ul {
  opacity: 1;
}

.nav-bar ul li a {
  display: block;
  color: #333;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.4s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: #333;
  background: #fedc56;
}

.nav-bar ul li a.active {
  color: #333;
  background: #fedc56;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
  .container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 35px;
    height: 5px;
    border-radius: 25px;
    background: #333;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: var(--yellow-color);
    transition: 0.4s;
    overflow: hidden;
  }
  .nav-bar ul {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.7s;
    opacity: 0;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}
body footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: -5vh;
}

footer {
  position: relative;
  width: 100%;
  background: var(--blue-color);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li {
  list-style: none;
}

footer .menu li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .menu li a {
  font-size: 1.259em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  transition: 0.3s;
  opacity: 1;
  transform: translateY(-5px);
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  opacity: 0.75;
  font-size: 0.8em;
}

.mySwiper {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
}

.slider-btns {
  display: flex;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next, .swiper-button-prev {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  position: static !important;
  width: 70px !important;
  height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: flex;
  justify-content: center;
  color: var(--tertiary-color);
  font-size: 1.3rem;
  font-weight: 600;
}

.swiper-slide img {
  display: flex;
  margin-top: 8vh;
  margin-bottom: 8vh;
  display: flex;
  width: 350px;
  height: 485px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-shadow: 2px 2px 5px var(--pink-color);
}

.index-swiper .mySwiper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
}
.index-swiper .slider-btns {
  display: flex;
  justify-content: space-evenly;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: flex;
}
.index-swiper .swiper-button-next {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  top: 50%;
  transform: translateY(-200%);
}
.index-swiper .swiper-button-prev {
  display: flex;
  justify-content: space-evenly;
  margin-right: auto;
  top: 50%;
  transform: translateY(-200%);
}
.index-swiper .swiper-button-next, .index-swiper .swiper-button-prev {
  display: flex;
  justify-content: space-evenly;
  position: static !important;
  width: 70px !important;
  height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  transition: 0.3s;
  opacity: 1;
}
.index-swiper .swiper-button-next:hover, .index-swiper .swiper-button-prev:hover {
  opacity: 0.6;
}
.index-swiper .swiper-button-next::after, .index-swiper .swiper-button-prev::after {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  color: var(--tertiary-color);
  font-size: 1.3rem;
  font-weight: 600;
}

h1 {
  display: flex;
  position: absolute;
  bottom: 80px;
  left: 85px;
  margin-left: 10px;
  font-family: Helvetica;
  color: var(--white-color);
  font-weight: lighter;
  font-size: 45px;
}

.swiper-slide img:hover {
  transform: scale(1.01);
  transition: 0.31s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--pink-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 5vh;
}

.swiper-slide {
  margin: 1rem;
}

.filler {
  margin: 60vh;
}/*# sourceMappingURL=style.css.map */